.cardSize,.card-img-top{
    width: 18vw;
    height: 10vw;
}
.cardSize:hover{
    background-color: yellow;
  }
  .boards{
    height: 90vh;
 }
 .lists{
     margin: 0;
     overflow-x: scroll;
     width:97vw;
     height:85vh;     
 }
 .cards{
     max-height:60.3vh;
     overflow-y: scroll;
 }